<p id="notice"><%= notice %></p>

<p>
  <strong><%= t :email%>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t :password%>:</strong>
  <%= @user.crypted_password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user.salt %>
</p>

<%= link_to (t :edit_profile), edit_user_path(@user) %> |
<%= link_to (t :back), users_path %>
