<p>
  Первый в мире удобный менеджер флеш-карточек. Именно так.
</p>

<% unless @card %>
<h3> Карточки кончились </h3>
<% else %>
<h3> Введите оригинальный текст </h3>
Введите перевод слова: <b><%= @card.translated_text %></b>

<%= simple_form_for :home, url: { action: "check_card" } do |f| %>
  <%= f.input :usertext %>
  <%= f.hidden_field :id, value: @card.id %>
  <%= f.button :submit, "Проверить", class: "btn btn-info btn-sm" %>
<% end %>
<% end %>