<h2> Редактирование карточки</h2>
<%= form_for @card do |f| %>
  <%= f.text_field :original_text %><br>
  <%= f.text_field :translated_text %><br>
  <%= f.text_field  :review_date %><br>
  <%= f.submit "Сохранить изменения" %>
<% end %>
