<h2>
  Все карточки
</h2>

<table class="table table-bordered">
  <tr class="info">
    <th>Слово</th>
    <th>Перевод</th>
    <th>Дата проверки</th>
    <th>Колода</th>
    <th>Действия</th>
  </tr>

  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.strftime('%d/%m/%Y') %></td>
      <td><%= card.deck_id %></td>
      <td><%= link_to 'показать', card_path(card), class: "btn btn-info btn-xs" %>
        <%= link_to 'изменить', edit_card_path(card), class: "btn btn-info btn-xs" %>
        <%= link_to "Удалить карточку", card_path(card), method: :delete, data: { confirm: "Уверены?" }, class: "btn btn-info btn-xs" %></td>
    </tr>
  <% end %>
</table>

