<h2> Создание новой карточки</h2>
<%= form_for @card do |f| %>
  Оригинальный текст: <%= f.text_field :original_text %><br>
  Переведенный текст: <%= f.text_field :translated_text %><br>
  Дата проверки: <%= f.text_field  :review_date %><br>
  <%= f.submit "Создать карточку" %>
<% end %>
