<h2>
  <%= t :all_decks %>
</h2>

<table class="table table-bordered">
  <tr class="info">
    <th><%= t :deck_description %></th>
    <th><%= t :active_status %></th>
    <th><%= t :action %></th>
  </tr>

  <% @decks.each do |deck| %>
    <tr>
      <td><%= deck.description %></td>
      <td><%= deck.active %></td>
      <td><%= link_to (t :show), deck_path(deck), class: "btn btn-info btn-xs" %>
        <%= link_to (t :edit), edit_deck_path(deck), class: "btn btn-info btn-xs" %>
        <%= link_to (t :del_deck), deck_path(deck), method: :delete, data: { confirm: (t :del_confirm) }, class: "btn btn-info btn-xs" %></td>
    </tr>
  <% end %>
</table>
