<h2> <%= t :new_deck_title %></h2>
<div class="form-horizontal">
<%= simple_form_for @deck do |f| %>
<%= render partial: "form", locals: { f: f } %>
<%= f.hidden_field :active, value: false %>
<%= f.hidden_field :user_id, value: current_user.id %>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
<%= f.button :submit, (t :new_deck_title), class: "btn btn-info btn-sm" %>
</div>
</div>
<% end %>
</div>
